* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(whitewall2-min.jpg);
    background-size: cover;
  
     margin-top: 80px; 
     
    
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  
    

} 

#preloader {
    background: #FFFFFF url(preloadergif.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;

}

.nav_bar {
   
    backdrop-filter: blur(5px);
    background-color: rgba(254, 254, 254, 0.896);
    position: fixed;
 top: 0;
    z-index: 98;
   
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0.1px gray;
}

.btn {
    /* for Home button logo */
    background-color: transparent;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: black;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 2.5rem;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

.btn a {

    text-decoration: none;
    color: black;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;

}

/* nav bar home button logo code above */



/* for AXOCEAN heading */
.heading {
    font-size: 3rem;
    color: black; 
    cursor: pointer;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    align-self: center;
    
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    /* color: black; */
    padding: 12px 16px;
    /* font-size: 2.5rem; */
    /* font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif; */
    /* -webkit-font-smoothing: antialiased; */
    /* font-weight: bold; */
    border: none;
    transition-duration: .3s;
  
}
.dropbtn span{
   font-size: 2rem;
   /* font-weight: bolder; */
  
  
}

.rotate{
    transform: rotate(90deg);
    
}

.dropdownlist{
    /* background-color: white;*/
     background-color: rgba(254, 254, 254, 0.793);
    width: 100%;
    height: 200px;
    display: none;
    padding-top: 10px;
    text-align: center;
    animation: dropdownlist .2s linear;


}
@keyframes dropdownlist{
    0%{
       width: 0;
    }
}
.link1{
    animation: dropdownlink .2s linear;
}
.link2{
    animation: dropdownlink .3s linear;
}
.link3{
    animation: dropdownlink .4s linear;
}
.link4{
    animation: dropdownlink .5s linear;
}
@keyframes dropdownlink{
    0%{
       margin-left: -300px;
    }
}
.dropdownlist a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
     color: black;
     font-weight: bolder;
     font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
     /* border-bottom: 2px solid rgb(232, 232, 232); */
     padding: 10px;
   
     transition-duration: .2s;
}


.show{
    display: block;
}
.dropdownlist a:hover{
    color: #009da5;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.114) ; */
    letter-spacing: 5px;
}
.dropbtn:hover{
    color: #E0C3FC;
    
}
/* ------------------------------------------------------------------------------------------------- */

/* animation slider code below */

.sliderdiv {
  
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_main_div {
    
    width: 1300px;
    height: 400px;
    background-image: url(scrunchiesslider.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px gray;
    border: 3px solid white;
    animation: slider 10s infinite linear;
    border-radius: 2px;
}

@keyframes slider {
    0% {
        background-image: url(scrunchiesslider.jpg);
    }
    35% {
        background-image: url(scrunchies2slider.jpg);
    }
    
    75% {
        background-image: url(scrunchies3slider.jpg);
    }
}

/* Animation Slider code above */


/* product heading background transparent below */
.productmain {
    height: 7rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* product heading blured background below*/
.productheading_div {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    height: 7rem;
    box-shadow: 0px 8px 10px rgba(128, 128, 128, 0.334);
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

}

.productheading_div article {

    font-size: 3rem;
    font-family: "Sofia", sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Product heading code above */

/* main body OR Catalogue  code starts from here*/
.mainbody {
    
    display: flex;
    max-height: 10000px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    flex-wrap: wrap;
    
}

.items {
    width: 300px;

    height: 500px;
    backdrop-filter: blur(2px);
    
    background-color: rgba(80, 79, 79, 0.182);
    /* background:linear-gradient(#09203f42,#53789500); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* margin: 10px; */
    
    margin-bottom: 20px;

}

 .items h1 {
    /* for product heading */
    background-color: #ddd;
    color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;     
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;







} 

.items img {
    /* for product images */
    height: 250px;
    border-radius: 10%;
}

.items h3 {
    /* for product description */

    color: rgb(218, 240, 255);
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    font-size: 1.5rem;
}

.item-a-tag {
    text-decoration: none;
}

.items  button {
    /* see details href button */
    display: flex;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;        
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.5rem;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;



  
   


}


.items:hover {
    /* products flex hover  */
    transform: translate(-2px, -10px);
    transition-duration: 150ms;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.355);
   


}

  /* footercode starts from here */
footer{
    /* background-color: rgb(74, 74, 74); */
 background-color: #323232;
      /* background-color: #8ec5fc05;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);  */
 
    height: auto;
    width: 100%;
   
    padding-top: 40px;
    color: #fff;
    


}
.footercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
/* background-color: red; */
    
}
.websiteheading{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0rem 0 1rem 0;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;


}
.description{
    /* max-width:500px; */
    /* margin:10px auto; */
    line-height:28px;
    font-size: 12px;
    text-align: center;
    color: rgb(190, 190, 190);
    margin: 0rem 0 1rem 0;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
   

}

.socialmedialogos{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 3rem 0;
    /* background-color: red; */
    width: 200px;
    
    

   

}
.socialmedialogos li{
    margin: 0 10px;
}
.socialmedialogos a{
    text-decoration: none;
    color: #fff;

}
.socialmedialogos a {
font-size: 4rem;


}
#instgram{
    transition: color .2s ease;
    
}
#instagram:hover{
color: #e41da2 ; 
}
#pinterest{
    transition: color .2s ease;
}
#pinterest:hover{
color: rgb(208, 10, 10) ; 
}
#facebook{
    transition: color .2s ease;
}
#facebook:hover{
color: rgb(123, 123, 254) ; 
}


/* .contact{
    background-color: transparent;
    border: 1px solid #ddd;
    height: 30px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0 3rem 0;
    font-size: 12px;
    color: white;
    
    text-decoration: none;
   transition: .2s ease;
   

}
.contact:hover{
    background-color: #ddd;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 5px 10px black;
} */

.footerbottom{
    /* background-color:rgba(162, 154, 154, 0.375); */
 
   background-color: #02040645;
   
    /* background-color: rgb(166, 166, 166); */
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footerbottom p{
    font-size: 14px;
    word-spacing:2px;
    text-transform: capitalize;
}
/* footercode ends here */

/* Contact Form code starts from here */
.floating-contact-form .contact-icon {
    position: fixed;
    bottom: 4px;
    right: 5px;
    cursor: pointer;
    padding: 16px;
  }
  
  .floating-contact-form .contact-icon i {
    font-size: 42px;
    color: #003049;
    transition: all 300ms ease;
   
    
  }
  
  .floating-contact-form .contact-icon i:hover {
    transform: scale(1.1);
  }
  
  .floating-contact-form .form-container {
    position: fixed;
    bottom: 60px;
    right: 45px;
    
    background-color: rgba(255, 255, 255, 0.168);
    backdrop-filter: blur(5px);
    padding: 24px 36px;
    width: 300px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
   z-index: 99; 
    transform: rotateZ(-6deg);
    transform-origin: bottom right;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
  }
  
  .floating-contact-form .form-container.active {
    transform: rotateZ(0deg);
    opacity: 1;
    pointer-events: auto;
  }
  
  .floating-contact-form * {
    box-sizing: border-box;
  
  }
  
  .floating-contact-form h3 {
    font-size: 3.3rem;
    
    color: #003049;
    margin-top: 10px;
    position: relative;
    margin-bottom: 8px;
  }
  
  .floating-contact-form h3::after {
    content: "";
    height: 3px;
    width: 36px;
    /* background: #ef233c; */
    position: absolute;
    left: 0;
    bottom: -4px;
  }
  
  .floating-contact-form form input[type="text"],
  .floating-contact-form form textarea {
    width: 100%;
    padding: 14px 20px;
    padding-left: 40px;
    font-size: 16px;
    border: 1px solid rgba(0, 47, 73, 0.3);
    border-radius: 8px;
    color: #003049;
    margin-bottom: 20px;
  }
  
  .floating-contact-form form input:focus,
  .floating-contact-form form textarea:focus {
    outline: none;
  }
  
  .floating-contact-form .field-container {
    position: relative;
  }
  
  .floating-contact-form .field-container label {
    position: absolute;
    opacity: 0;
    /* top: 15px;
    left: 40px; */
    color: #003049;
    font-size: 1.7rem;
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
    transition: all 300ms ease;
    pointer-events: none;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(88, 120, 163, 0.555);
    font-size: 1.6rem;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(88, 120, 163, 0.555);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(88, 120, 163, 0.555);
  }
  #nameicon{
   font-size: 2rem;
  }
  #emailicon{
    font-size: 2rem;
   }
   #messageicon{
    font-size: 2rem;

   }

  
  .floating-contact-form .field-container label.active {
    font-size: 1.7rem;
    background: rgba(0, 0, 0, 0.114);
    backdrop-filter: blur(10px);
    /* border-radius: 60%; */
    color: #fff;
    padding: 2px 16px;
    top: -8px;
    left: 24px;
    font-weight: bold;
    opacity: 1;
  }
  
  .floating-contact-form .field-container i {
    position: absolute;
    /* background-color: red; */
    top: 15px;

    left: 12px;
    color: rgba(0, 55, 85, 0.8);
  }

  
  .floating-contact-form form textarea {
    height: 150px;
    resize: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  
  
  .floating-contact-form form input[type="submit"] {
    border: none;
    background: #003049;
    color: #fff;
    padding: 16px 32px;
    width: 100%;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .floating-contact-form form input[type="submit"]:hover {
    background: #00659b;
  }
/* Contact form code ends here */

/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;


    }

    .nav_bar {
        width: 100%;
        height: 80px;
    }

    .heading {
        font-size: 3rem;

    }

    .sliderdiv {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .slider_main_div {
        width: 1100px;
        height: 450px;


    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 65%;


    }

    .nav_bar {
        width: 100%;
        height: 80px;
    }

    .heading {
        font-size: 3rem;

    }

    .sliderdiv {
        width: 100%;
        height: 330.28px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider_main_div {

        width: 687.48px;
        height: 281.28px;

    }

}

@media screen and (max-width:998px) {

    body{
        margin-top: 60px;
    }

    .dropdownlist{
        height: 180px;
    }
    html {
        font-size: 55%;


    }

    .nav_bar {
        width: 100%;
        height: 80px;
    }

    .heading { 
        font-size: 3rem;

    }

    .sliderdiv {
        width: 100%;
        height: 284px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider_main_div {
        width: 572px;
        height: 234px;

    }

}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }

    .nav_bar {
        width: 100%;
        height: 80px;
    }

    .heading {
        font-size: 3.5rem;

    }

    .sliderdiv {
        width: 100%;
        height: 253px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider_main_div {
        width: 497px;
        height: 203px;

    }

}

@media screen and (max-width:500px) {
    html {
        font-size: 45%;
    }

    .nav_bar {
        width: 100%;
        height: 60px;
    }

    .heading {
        font-size: 3rem;

    }

    .sliderdiv {
        width: 100%;
        height: 167px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider_main_div {
        width: 287px;
        height: 117px;

    }
    .floating-contact-form .field-container i{
        top:18px;
    }
    .floating-contact-form .field-container label{
        top:17px;
    }

}


@media screen and (max-width:380px) {
    html {
        font-size: 40%;
    }

    .nav_bar {
        width: 100%;
        height: 60px;
    }

    .heading {
        font-size: 3rem;

    }

    .sliderdiv {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider_main_div {
        width: 217px;
        height: 89px;

    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 40%;
    }

    .nav_bar {
        width: 100%;
        height: 60px;
    }

    .heading {
        font-size: 3rem;

    }

    .sliderdiv {
        width: 100%;
        height: 138px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider_main_div {
        width: 215px;
        height: 88px;

    }
}

/* responsive code above */